footer.footer
    .footer__logo 
        img(src='../img/logo-green.png' alt='Logo')
    ul.footer__nav 
        li:a(href='#') Company Contact Careers Policy Terms
    p.footer__copyright &copy MADE WITH ❤️ BY PIYUSH