header.header 
    nav.nav.nav--tours 
        a.nav__el(href="#") All Tours
.header__logo
    img(src='../img/logo-white.png' alt='Logo')
nav.nav.nav--user
        a.nav__el Log in
        a.nav__el.nav__el Sign up
