doctype html 
html 
    head
        title Tourister - The best tours in the world
        link(rel='stylesheet' href='../css/style.css')
        link(rel='shortcut icon' href='../img/favicon.png')
    body
        //h1=tour
        h2=user
        h1 You see me rolling
        h2 You hatin'
        